/* tailwind 설정 */

/* Navbar component */
.navBar {
  @apply left-0 top-0 z-second flex h-80 w-full items-center justify-between gap-40 bg-[#ffffff80] px-44 py-20 backdrop-blur;
}

.navSearchBar {
  @apply flex h-40 max-w-600 flex-grow items-center gap-10 rounded-lg bg-gray-1 px-32 py-8;
}

/* LoginModal */
/* SignupModal */

.modalContainer {
  @apply relative top-[10%] z-infinite flex h-560 w-940 flex-col rounded-md bg-white;
}

.artModalContainer {
  @apply relative top-[5%] z-infinite flex h-[90%] w-[90%] flex-col overflow-hidden rounded-md bg-white;
}

.askForSignupContainer {
  @apply relative top-[40%] z-infinite flex h-150 w-350 justify-center rounded-md bg-white;
}

.modalInput {
  @apply mt-16 w-full border-none px-8 pb-8 pt-12 text-17 outline-none;
}

.modalInputLabel {
  @apply absolute top-0 inline-block h-56 w-full rounded-sm border-1 border-solid border-[#cfd9de] px-8 pt-8 text-13 text-[#536471] focus-within:text-primary;
}

.deleteModal {
  @apply relative z-infinite flex h-170 w-500 flex-col items-center justify-center rounded-md bg-gray-2;
}

/* SideBar component */
.count {
  @apply flex items-center justify-center text-center text-10;
}

/* Feed grid layout */
.card-grid {
  @apply grid grid-cols-3 gap-x-40 gap-y-48;
}

/* category layout */
.category-button-layout {
  @apply flex gap-40 align-middle;
}

/* button */
.primary-button {
  @apply inline-block shrink-0 items-center justify-center rounded-xl border-1 border-solid;
}

.upload-button {
  @apply h-50 w-196 border-black text-black hover:border-primary hover:bg-primary hover:text-white active:bg-primary active:text-white;
}

.save-button {
  @apply flex h-40 w-113 items-center justify-center rounded-[200px] border-1 border-solid border-black px-25 py-10 text-15 hover:border-primary hover:bg-primary hover:text-white disabled:border-gray-1 disabled:bg-gray-1 disabled:text-gray-3;
}

.nav-upload-button {
  @apply h-40 w-109 border-primary bg-white text-black hover:border-primary hover:bg-primary hover:text-white active:bg-primary active:text-white;
}

.nav-login-button {
  @apply h-40 w-109 border-primary bg-primary text-white hover:border-primary-8 hover:bg-primary-8 active:bg-primary-8;
}

.nav-chat-button {
  @apply mb-20 h-40 w-200 hover:border-primary hover:bg-primary hover:text-white active:bg-primary;
}

.dropdown-mypage-button {
  @apply h-40 w-full border-primary bg-white text-black hover:border-primary hover:bg-primary hover:text-white active:bg-primary active:text-white;
}

.category-button {
  @apply flex items-center justify-center gap-10 rounded-ml border-2 border-solid border-white bg-white px-23 py-5 text-center text-18 text-gray-4 hover:text-black;
}

.category-button-focus {
  @apply flex items-center justify-center gap-10  rounded-ml border-2 border-solid border-gray-4 bg-white px-23 py-5 text-center text-18 text-black;
}

.status-label-button {
  @apply flex h-24 items-center justify-center whitespace-nowrap rounded-ml border-[1.55px] border-solid border-white bg-white px-12 py-4 text-center text-12 text-black hover:text-primary;
}

.status-label-button-focus {
  @apply flex h-24 items-center justify-center whitespace-nowrap  rounded-lg border-[1.55px] border-solid border-primary bg-white px-12 py-4 text-center text-12 text-primary;
}

.main-label-button {
  @apply flex justify-center bg-white text-center align-middle text-18 text-gray-3 hover:text-primary-3;
}

.main-label-button-focus {
  @apply flex justify-center bg-white text-center align-middle text-18 font-bold text-primary;
}

.modal-action-button {
  @apply h-50 w-full cursor-pointer rounded-ml border-none bg-[#0f1419] text-17 text-white hover:bg-[#272c30] disabled:opacity-50;
}

.artModal-follow-button {
  @apply h-40 w-90 bg-primary text-white;
}

.artModal-chat-button {
  @apply h-40 w-90 hover:border-primary hover:bg-primary hover:text-white active:bg-primary;
}

.storage-button {
  @apply h-40 w-123 border-primary bg-primary text-white;
}

.duplication-button {
  @apply h-30 w-77 border-primary bg-white text-black hover:border-primary hover:bg-primary hover:text-white active:bg-primary active:text-white;
}

.withdraw-button {
  @apply h-40 w-123 border-none bg-gray-5 text-white;
}

.disabled-button {
  @apply opacity-30;
}

.sideBar-follow-button {
  @apply h-40 w-90 bg-primary text-white hover:border-primary hover:text-white active:bg-primary;
}

/* Input */
.primary-input {
  @apply h-40 w-auto bg-gray-1 px-15 py-11 text-14 focus:outline-none md:w-3/5;
}

.xs-input {
  @apply w-115 md:w-75;
}

.sm-input {
  @apply w-172 md:w-120;
}

.md-input {
  @apply w-200 md:w-150;
}

.lg-input {
  @apply w-268 md:w-160;
}

.file-input-wrapper {
  @apply relative inline-block;
}

.file-input-label {
  @apply flex h-95 w-95 cursor-pointer flex-col items-center justify-center rounded-full bg-white text-black md:h-70 md:w-70;
}

.hidden-file-input {
  @apply absolute left-0 top-0 h-95 w-95 opacity-0;
}

.save-input {
  @apply bg-gray-4 text-gray-7;
}

.disabled {
  @apply border-none bg-gray-3;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  height: 23px;
  background-color: #454545;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 8px;

  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 110%;

  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* upload label  */
.status-label {
  @apply flex h-40 w-74 items-center justify-center text-12 hover:font-bold hover:text-primary;
}

/* cardContainer */
.card-container-mainPage {
  @apply mt-35 grid w-[95%] auto-rows-[1fr] grid-cols-[repeat(auto-fit,minmax(max(280px,100%/6),1fr))] gap-x-25 gap-y-31 md:w-[100%];
}

.card-container-artistPage {
  @apply mt-35 grid w-[95%] auto-rows-[1fr] grid-cols-[repeat(auto-fit,minmax(max(280px,100%/5),1fr))] gap-x-25 gap-y-31 md:w-[100%];
}

/* swiper */
.swiper-container {
  @apply h-520;
}

.swiper {
  @apply relative;
}
